<router-outlet>
  <app-spinner></app-spinner>
</router-outlet>


<!--<pdf-viewer-->
<!--  [src]="doc"-->
<!--  [render-text]="true"-->
<!--  style="display: block;-->
<!--      height: 95vh;-->
<!--      width: 50vw;-->
<!--      border-style: solid"-->
<!--  class="container">-->
<!--  <div-->
<!--    style="height: 50px; width: 250px; position: absolute"-->
<!--    cdkDrag-->
<!--    cdkDragBoundary=".container"-->
<!--    (cdkDragEnded)="onDragEnded($event)">-->
<!--    <img src="./assets/images/firma.png" alt="Test"-->
<!--         style="width: 100%; height: 100%">-->
<!--  </div>-->
<!--</pdf-viewer>-->


<!--<div style="position: relative;
      height: 95vh;
      width: 50vw;
      border-style: solid"
     class="container">
  <div
    style="height: 50px; width: 250px; position: absolute"
    cdkDrag
    cdkDragBoundary=".container"
    (cdkDragEnded)="onDragEnded($event)">
    <img src="./assets/images/firma.png" alt="Test"
         style="width: 100%; height: 100%">
  </div>
  <img src="./assets/images/pdf_1_demo.png" alt="PDF Demo" style="display: block; width: 100%; height: 100%">
</div>-->




<!--<div class="parent-div" style="width: 400px; height: 400px; margin: 0 auto;">
  <img src="./assets/images/firma.png" alt="Firma Demo"
       style="width: 250px; height: 50px" cdkDragBoundary=".parent-div"
       cdkDrag (cdkDragEnded)="onDragEnded($event)">
  <div class="limit-div">
    <img src="./assets/images/pdf_1_demo.png" alt="PDF Demo" style="width: 400px;height: 400px">
  </div>
</div>
<div class="sign-div" cdkDragBoundary=".limit-div" cdkDrag (cdkDragEnded)="onDragEnded($event)">

</div>-->


<!--<div clas="limit-div">
  <img src="./assets/images/pdf_1_demo.png" alt="PDF Demo" style="width: 600px; height: 660px">
  <div class="sign-div" cdkDragBoundary=".limit-div" cdkDrag>
    <img src="./assets/images/firma.png" alt="Firma Demo" style="width: 250px; height: 50px">
  </div>
</div>-->

